.as-loading {
    color: transparent !important;
    background: linear-gradient(80deg, transparent 30%, var(--as-primary-dim) 50%, transparent 70%);
    /* opacity: 0.4; */
    background-size: 400%;
    animation: as-loading 1.5s ease-in-out infinite;
}

.as-highlight-hover-bg:hover {
    background: linear-gradient(80deg, var(--as-primary) 10%, var(--as-primary-dim) 20%, transparent 70%);
    background-size: 400% !important;
    animation: as-loading 0.4s ease-in-out 1 !important;
    color: var(--as-common);
}

.as-highlight-hover-primary:hover {
    color: var(--as-primary) !important;
}

.as-highlight-hover-secondary:hover {
    color: var(--as-secondary) !important;
}

@keyframes as-loading {
    from {
        background-position: 100% 50%;
    }

    to {
        background-position: 0% 100%;
    }
}

.as-fade-in-one {
    animation: as-fade-in-bottom 0.5s 1;
}

@keyframes as-fade-in-top {
    from {
        opacity: 0.0;
        transform: translateY(-200px);
    }

    to {
        opacity: 1.0;
        transform: translateY(0px);
    }
}

@keyframes as-fade-in-bottom {
    from {
        opacity: 0.0;
        transform: translateY(200px);
    }

    to {
        opacity: 1.0;
        transform: translateY(0px);
    }
}

.as-zoom-hover,
.as-zoom-hover-bg,
.as-zoom-hover-lg {
    transition: transform .2s;
}

.as-zoom-hover:hover {
    transform: scale(1.03) !important;
}

.as-zoom-hover-lg:hover {
    transform: scale(1.1);
}

.as-zoom-hover-bg:hover {
    background: linear-gradient(80deg, var(--as-primary) 10%, var(--as-primary-dim) 20%, transparent 70%);
    background-size: 400% !important;
    animation: as-loading 0.4s ease-in-out 1 !important;
    color: var(--as-common);
    border-radius: 5px;
    border-style: none;
    transform: scale(1.03);
}

.as-scale_bounce {
    animation: as-scale_bounce 1.5s cubic-bezier(.5, 0.05, 1, .5) infinite;
}

@keyframes as-scale_bounce {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}

.as-blink {
    color: var(--as-primary);
    animation: as-blink 3s linear infinite;
}

@keyframes as-blink {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

.as-lift-up-hover:hover {
    transform: translateY(-5px);
    transition: transform 0.2s linear;
}